<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Coursera">
        <classes>
            <class name="testcases.TC_01_verifyLogo"/>
            <class name="testcases.TC_05_verifyProductName"/>
            <class name="testcases.TC_06_verifyPartnerBadge"/>
            <class name="testcases.TC_07_verifyReviews"/>
            <class name="testcases.TC_08_verifyLevels"/>
            <class name="testcases.TC_011_VerifyUrl"/>
            <class name="testcases.TC_012_VerifyTitle"/>
            <class name="testcases.TC_013_SkillsExtraction"/>
            <class name="testcases.TC_014_DurationLabelExtraction"/>
            <class name="testcases.TC_015_ProjectStepsExtraction"/>
            <class name="testcases.TC_016_NoSetupGuarantee"/>
            <class name="testcases.TC_023_SearchBarFunctionality"/>
            <class name="testcases.TC_024_getAllLanguagesAndLevels"/>
            <class name="testcases.TC_025_FirstTwoCoursesDetails"/>
            <class name="testcases.TC_026_checkLoginButtonEnabledOrNot"/>
            <class name="testcases.TC_027_programOverview"/>
            <class name="testcases.TC_028_formSubmissionWithValidData"/>
            <class name="testcases.TC_029_formSubmissionWithInvalidData"/>
        </classes>
    </test>
</suite>