<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Coursera">
        <classes>
            <class name="testcases.TC_01_VerifyUrl"/>
            <class name="testcases.TC_02_VerifyTitle"/>
            <class name="testcases.TC_03_VerifyLogo"/>
            <class name="testcases.TC_04_VerifyProductNames"/>
            <class name="testcases.TC_05_VerifyPartnerBadge"/>
            <class name="testcases.TC_06_VerifyReviews"/>
            <class name="testcases.TC_07_VerifyLevels"/>
            <class name="testcases.TC_08_SkillsExtraction"/>
            <class name="testcases.TC_09_DurationLabelExtraction"/>
            <class name="testcases.TC_010_ProjectStepsExtraction"/>
            <class name="testcases.TC_011_NoSetupGuarantee"/>
            <class name="testcases.TC_012_VerifyRatings"/>
            <class name="testcases.TC_013_InstructorDetails"/>
            <class name="testcases.TC_014_SearchBarFunctionalityWithInvalidKeyword"/>
            <class name="testcases.TC_015_SearchBarFunctionality"/>
            <class name="testcases.TC_016_GetAllLanguagesAndLevels"/>
            <class name="testcases.TC_017_SortFunctionExistence"/>
            <class name="testcases.TC_018_FirstTwoCoursesDetails"/>
            <class name="testcases.TC_019_CheckFAQ"/>
            <class name="testcases.TC_020_CheckLoginButtonEnabledOrNot"/>
            <class name="testcases.TC_021_ProgramOverview"/>
            <class name="testcases.TC_022_FormSubmissionWithValidData"/>
            <class name="testcases.TC_023_FormSubmissionWithInvalidData"/>
        </classes>
    </test>
</suite>